fastapi
uvicorn
google-genai
langchain-mcp-adapters
langgraph
numpy
openpyxl
ortools
pandas
timer
langchain
langchain-google-genai
langchain-anthropic
langchain-core
langchain-community
langchain-openai
python-dotenv
tiktoken
python-jose
tqdm
urllib3 
uvicorn
psutil>=5.9.0